.searchTagInactive {
  align-items: center;
  background-color: var(--color-accent-alt);
  border-radius: 6px;
  color: var(--color-text-invert);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  height: 35px;
  justify-content: flex-start;
  margin: 10px;
  min-width: 175px;
  padding: 10px;
  user-select: none;
}

.searchTagActive {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 6px;
  color: var(--color-text-invert);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  height: 35px;
  justify-content: flex-start;
  margin: 10px;
  min-width: 175px;
  padding: 10px;
  user-select: none;
}

.plus {
  background-image: url('../../../../../assets/img/add.svg');
  background-size: cover;
  height: 25px;
  width: 25px;
}

.plusActive {
  background-image: url('../../../../../assets/img/add_white.svg');
  background-size: cover;
  height: 25px;
  width: 25px;
}