.navigationBar {
  align-items: center;
  background-color: var(--color-element-background);
  color: var(--color-text-header);
  display: flex;
  height: 80px;
  justify-content: flex-start;
  padding: 0 5%;
}

.logo {
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
}