.resultArea {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  justify-content: space-around;
  margin: 0 5% 0 5%;
}

.history {
  border-style: none;
  flex: 2.5;
  height: 250px;
  margin-top: 10px;
}

.liveResults {
  border-style: none;
  flex: 1;
  margin-top: 10px;
}