.searchRegionSelection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.1em;
  justify-content: flex-start;
  margin: 0 5% 3% 5%;
}

.zip {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
}

.inputHeader {
  margin: 10px;
}

.zipInput {
  border-color: var(--color-element-border);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-family-serif);
  font-size: 1.1em;
  padding: 5px;
  width: 50px;
}

.zipInput:focus {
  border-color: var(--color-accent);
  border-radius: 2px;
  border-style: solid;
  outline: none;
}

.zipInputError {
  border-color: var(--color-element-border);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-family-serif);
  font-size: 1.1em;
  padding: 5px;
  position: relative;
  width: 50px;
}

.zipInputError:focus {
  border-color: var(--color-validation-negative);
  border-radius: 2px;
  border-style: solid;
  outline: none;
}

.validationIconValid {
  background-image: url("../../../../assets/img/valid.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
}

.validationIconInvalid {
  background-image: url("../../../../assets/img/invalid.svg");
  background-size: contain;
  height: 25px;
  width: 25px;
}

.radius {
  margin-top: 0;
}

.rangeNumber {
  background-color: var(--color-element-background);
  border-radius: 2px;
  border-style: none;
  font-family: var(--font-family-serif);
  font-size: 1.1em;
  padding: 5px;
  width: 50px;
}