.searchRegionSelection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 5% 0 5%;
  font-size: 1.1em;
}

.zip {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  padding: 10px;
}

.inputHeader {
  margin: 10px;
}

.input {
  background-color: var(--color-background-element);
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  width: 50px;
  font-size: 1.1em;
  font-family: var(--font-family-serif);
  box-shadow: 1px 1px 1px var(--color-input-element);
}

.input:focus {
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  outline: none;
}

.inputError {
  background-color: var(--color-background-element);
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: var(--color-validation-negative);
  padding: 5px;
  width: 50px;
  font-size: 1.1em;
  font-family: var(--font-family-serif);
  box-shadow: 1px 1px 1px var(--color-input-element);
}

.inputError:focus {
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  outline: none;
}

.radius {
  margin-top: 0;
}

.rangeNumber {
  background-color: var(--color-background-element);
  border-radius: 2px;
  border-style: none;
  padding: 5px;
  width: 50px;
  font-size: 1.1em;
  font-family: var(--font-family-serif);
}