.searchRegionSelection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.1em;
  justify-content: flex-start;
  margin: 0 5% 0 5%;
}

.zip {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
}

.inputHeader {
  margin: 10px;
}

.zipInput {
  background-color: var(--color-background-element);
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-family-serif);
  font-size: 1.1em;
  padding: 5px;
  width: 50px;
}

.zipInput:focus {
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  outline: none;
}

.zipInputError {
  background-color: var(--color-background-element);
  border-color: var(--color-input-element);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-family-serif);
  font-size: 1.1em;
  padding: 5px;
  width: 50px;
}

.zipInputError:focus {
  border-color: var(--color-validation-negative);
  border-radius: 2px;
  border-style: solid;
  outline: none;
}

.zipInputError:focus::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: orangered;
  /*background-image: url("../../assets/img/warning.svg");*/
}

.radius {
  margin-top: 0;
}

.rangeNumber {
  background-color: var(--color-background-element);
  border-radius: 2px;
  border-style: none;
  font-family: var(--font-family-serif);
  font-size: 1.1em;
  padding: 5px;
  width: 50px;
}