:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-beige: rgba(239, 232, 211, 1);
  --color-grey: rgba(105, 105, 105, 1);
  --color-grey-light: rgba(204, 204, 204, 1);
  --color-black: rgba(27, 27, 27, 1);
  --color-green-full: rgba(104, 190, 189, 1);
  --color-green-light: rgba(104, 190, 189, 0.5);
  --color-red: rgba(255, 170, 170, 1);

  /*used colors*/
  --color-background: var(--color-beige);
  --color-element-background: var(--color-white);
  --color-accent: var(--color-green-full);
  --color-accent-alt: var(--color-green-light);
  --color-text: var(--color-black);
  --color-text-header: var(--color-grey);
  --color-text-invert: var(--color-white);
  --color-element-border: var(--color-grey);
  --color-element-inactive: var(--color-grey-light);
  --color-validation-negative: var(--color-red);

  /*used font*/
  --font-family-serif: 'Segoe UI', serif;
  --font-family-sans-serif: 'Segoe UI', sans-serif;
}

.App {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body {
  color: var(--color-text);
  font-family: var(--font-family-serif);
  font-weight: bold;
}
