:root {
  --color-white: #fefcfe;
  --color-white-alt: #f7f6f7;
  --color-merino: #f3ecdc;
  --color-blue: #d2e6e5;
  --color-blue-alt: #9ab1b1;
  --color-grey: #4a494a;
  --color-grey-variant: #858585;
  --color-black: #1f1d1f;
  --color-green: #378273;
  --color-teal: #81a7a8;

  /*used colors*/
  --color-background: var(--color-merino);
  --color-background-element: var(--color-white);
  --color-accent: var(--color-blue);
  --color-accent-alt: var(--color-green);
  --color-text: var(--color-black);
  --color-text-header: var(--color-grey);
  --color-text-invert: var(--color-white);
  --color-input-element: var(--color-grey-variant);

  /*used font*/
  --font-family-serif: 'Roboto Slab', serif;
  --font-family-sans-serif: 'Roboto', sans-serif;
}

.App {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body {
  color: var(--color-text);
  font-family: var(--font-family-serif);
  font-weight: bold;
}
